* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;   
}

.calculator {
    width: 400px;
    height: 640px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr repeat(5, 1fr); 
    margin: 50px auto; 
    border: 10  px; 
    border-color: black; 
}

.display {
    grid-column: 1 / 5;
    background-color: floralwhite;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px; 
}

.expression {
    font-size: 0.7cm; 
}

.result {
    font-size: 1.2cm; 
}

.color-lavenderblush {
    background-color: lavenderblush; 
}

.color-lightpink {
    background-color: lightpink;
}

.color-palevioletred {
    background-color: palevioletred; 
}
