
h1 {
    color: white;
    background-color:black;  
}

p  {
    font-size 35px;
    font-family:consolas; 
    font-weight: normal; 
    font-style: normal;
}

li {
    font-size: 15px;
    font-family:consolas;
    font-weight: normal;
    font-style: oblique;
}

table {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal; 
}

#yellowbackground {
    background-color: yellow;
}

.boxmodel {
    border: goldenrod 5px solid;
    padding: 10px 20px 30px 40px;  
    margin: 50px; 
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    width: 1000px; 
    margin: 0 auto; 
    height: 44px; 
}

.nav-item {
    margin: auto; 
}

.nav-link {
    text-decoration: none; 
    color: #EEEEEE; 
    font-size: 14px;
    transition: all 0.2s;  
}

.nav-link:hover{
    opacity: 0.7;
}

.icon {
    font-size: 0.7cm 
}