h1 {
    color: black;
    background-color: beige;  
}

p  {
    font-size 35px;
    font-family:consolas; 
    font-weight: normal; 
    font-style: normal;
}

p {
    color: black; 
    background-color: whitesmoke; 
}

li {
    font-size: 15px;
    font-family:consolas;
    font-weight: normal;
    font-style: oblique;
}

li {
    color: black; 
    background-color: lightgoldenrodyellow; 
}

table {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal; 
}

#yellowbackground {
    background-color: yellow;
}

.boxmodel {
    border: goldenrod 5px solid;
    padding: 10px 20px 30px 40px;  
    margin: 50px; 
}

.allign {
    text-align: right;  
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: none; 
}

table, th, td{
    border: 1px solid black; 
}

table {
    border-collapse: collapse; 
}

.link, .link:visited {
    text-decoration: none; 
    color: black; 
}

.link:hover {
    color: gold; 
    font-size 15px; 
}